.footer {
  &__wrapper  {
    padding: 100px 0;
    background-color: $black;
    color: $white;
    
    @include r($md) {
      padding: 50px 0;    
    }

  }

  &__inner {
    display: flex;
    justify-content: space-around;
    position: relative;

    @include r($xxl) {
        padding-bottom: 420px;
    }

    @include r($lg) {
      padding-bottom: 320px;
    }
    
    @include r($md) {
      display: none;
    }

    @include r($sm) {
        
    }
  }

  &__main {
    max-width: 440px;
    margin-right: 83px;

    @include r($xxl) {
        margin-right: 40px;
    }

    @include r($lg) {
      max-width: 300px;
    }

    @include r($md) {
      max-width: 1000px;
      width: 100%;
    }
  }

  &__logo {
    max-width: 400px;
    margin-bottom: 50px;
  }

  &__item {
    text-transform: uppercase;
    border-top: 2px solid rgba($gray-bg, 0.3);

    &--last {
      border-bottom: 2px solid rgba($gray-bg, 0.3);
    }
  }

  &__link {
    padding: 20px 0;

  }

  &__sub-link {
    color: rgba($gray-bg, 0.5);
    padding: 20px 0;

    &:first-child {
      padding-top: 0;
    }
  }

  &__bottom {
    padding: 50px 0;
    background-color: $semi-black;
    color: $white;

    @include r($md) {
      padding: 25px 0;
    }
  }

  &__wrapper-inner {
    padding: 0 85px;
    display: flex;
    justify-content: space-between;

    @include r($xxl) {
      padding:0;
    }
    
    @include r($md) {
      flex-direction: column;
      align-items: center;
    }

  }

  &__copyright {
    text-transform: uppercase;

    @include r($md) {
      margin-bottom: 20px;
    }
  }

  &__general {
    display: flex;

    @include r($lg) {
      flex-direction: column;
    }

    @include r($md) {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &__general-item {

    &:not(:last-child) {
      margin-right: 30px;

      @include r($lg) {
          margin-bottom: 10px;
      }
    }
  }

  &__creative {
    text-transform: uppercase;
  }

  &__contact-inner {
    display: flex;
    margin-bottom: 50px;

    @include r($xxl) {
        flex-direction: column;
    }

    @include r($md) {
      margin-bottom: 0;    
    }

  }

  &__contact-left {
    margin-right: 30px;
    max-width: 500px;

    @include r($xxxl) {
      max-width: 400px;
    }

    @include r($xxl) {
        margin-bottom: 30px;
    }
  }

  &__tel {
    margin-bottom: 50px;
  }

  &__contact-title {
    color: rgba($gray-bg, 0.5);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__tel-link {
    font-size: 32px;
  }

  &__social {
    margin-bottom: 50px;
  }

  &__social-list {
    display: flex;
  }

  &__social-item {
    margin-right: 10px;
  }

  &__adress-link {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__adress-metro {
    padding-left: 40px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0px;
      bottom: 0;
      width: 30px;
      height: 20px;
      background-image: url(./../images/content/icons/Kyiv_Metro.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
  }

  &__contact-right {
    @include r($xxl) {
        max-width: 500px;
    }
  }

  &__email {
    margin-bottom: 50px;
  }

  &__email-link {
    font-size: 36px;
  }

  &__form {
    margin-bottom: 50px;
    position: relative;
  }

  &__input {
    padding: 18px 200px 18px 20px;
    border: 2px solid rgba($gray-bg, 0.3);
    border-radius: 30px;
    background-color: transparent;
    color: $white;
    width: 100%;
  }

  &__btn {
    position: absolute;
    right: 10px;
    bottom: 12px;
  }

  &__request-btn {

    @include r($lg) {
      display: flex;
      flex-direction: column;
    }
  }

  &__button {
    @include r($lg) {
        margin-bottom: 10px;
    }
  }

  &__map {

    @include r($xxl) {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    @include r($md) {
      position: static;
      margin-bottom: 20px;
    }
  }

  &__mob {
    display: none;

    @include r($md) {
        display: block;
        
    }
  }
}





