
.slider-news {
  position: relative; 
}

.slider-news__inner.swiper {
  position: static;
  overflow-x: visible;

  &::-webkit-scrollbar {
    display: none;
  }
}

.slider-news__inner.swiper-wrapper {
  position: static;
}

.slider-news__inner.swiper-slide {
  position: static;
}

.slider-news__slide.swiper-slide {
  width: 22%;

  @include r($xxl) {
    width: 26%;
  }
  @include r($xl) {
    width: 28%;
  }

  @include r($lg) {
      width: 36%;
  }

  @include r($md) {
      width: 55%;
  }

  @include r($sm) {
    width: 75%;
  }

  @include r($xsm) {
      width: 85%;
  }
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -30px;
}

.slider-news__inner .swiper-button-prev {
  left: -30px;
}

.slider-news__inner .swiper-button-next {
  right: 0px
}

.slider-news__inner .swiper-button-next,
.slider-news__inner .swiper-button-prev {
  background-color: $white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
}

.slider-news__inner .swiper-button-next::after,
.slider-news__inner .swiper-button-prev::after {
  color: $black;
  font-size: 24px;
  font-weight: 700;
}


