$xsl: 1910px;
$xxxl: 1660px;
$xxl: 1450px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xsm: 376px;

$white: #ffffff;
$black: #000000;
$red: #CE2127;
$gray-bg: #eeeeee;
$semi-black: #1E1E1E;

@mixin r($width) {
    
    @media only screen and (max-width: $width ) {
        @content;
    }
}